.myProfile {
  background-color: rgb(245, 245, 245);
  padding-bottom: 2rem;
  grid-row: 1/4;

  &__title {
    padding: 1rem 2rem;
    background-color: rgb(235, 235, 235);
  }

  &__main {
    padding: 2rem;

    &-title {
      margin: 0;
      padding-bottom: 1rem;
    }
  }

  &__ul {
    list-style-type: none;
    padding: 0;

    &--li {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-auto-flow: column;
      justify-content: start;
      gap: 2rem;
    }
  }

  &__btn {
    margin-left: 2rem;
  }
}
