.input-box{
    padding: 15px;
     padding-top: 0px
}
.Del-btn{
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
}
.psw-feild{
    outline: 0px;
    border-Radius: 30px;
    padding-Left:12px !important;
}
/* .modal-content {
    position: relative;
    right: 60%;
    display: flex;
    flex-direction: column;
    width: 883px !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
} */