.input-box{
    padding: 15px;
     padding-top: 0px
}
.Del-btn{
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
}
.psw-feild{
    outline: 0px;
    border-Radius: 30px;
    padding-Left:12px !important;
}