.site-main {
  padding-bottom: 120px !important;
}
.site-main .sideshow {
  /* background: url(uploads/static_images/about_us_new.jpg); */
  background-size: cover;
  position: relative;
  height: 675px;
}
.padding-top {
  padding-top: 10px;
}
.breadcrumbs {
  display: inline-flex;
  margin-bottom: 25px;
}
