.nav-item .nav-link.active {
  color: black;
  background: rgba(255, 255, 255, 0.23);
  opacity: 1;
  border: none;
  position: relative;
}

.nav-tabs .nav-link.active::after {
  content: '';
  height: 4px;
  width: 40px;
  background-color: #3b7cff;
  position: absolute;
  bottom: 0;
  left: 15px;
  border-radius: 10px;
}

.nav-tabs {
  border: none !important;
}

.nav-tabs .nav-link:hover {
  border: none;
}

.nav-item:hover {
  border: none;
  /* transform: translateY(0px); */
}

.nav-tabs :hover {
  border: none;
  transform: translate(0px, 0px);
}

.nav-item :hover {
  transform: translate(0px, 0px);
}
.overview {
  text-align: 'left';
  font-size: 25;
  margin-bottom: '0';
  padding-top: '0.5em';
  position: relative;
}
.overview::after {
  content: '';
  height: 6px;
  width: 40px;
  background-color: #63b8ec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: 0;
  top: 27px;
  left: 0px;
}

.BankDet {
  position: relative;
  text-align: 'left';
  font-weight: 'bold';
  font-size: 25;
}
.BankDet::after {
  content: '';
  height: 4px;
  width: 40px;
  background-color: #3b7cff;
  position: absolute;
  bottom: 0;
  top: 1.5em;
  left: 0px;
  border-radius: 10px;
}
.modal-content {
  /* width: 70% !important; */
  border-radius: 1rem !important;
}
