.cr-sidebar__content nav {
  background-color: white;
  position: fixed;
  width: 224px;
  z-index: 999;
  padding: 6px 30px;
}
.cr-sidebar .nav {
  margin-top: 80px !important;
}
.cr-sidebar .nav .nav-item:not(:first-child) {
  border-top: 1px solid;
}
.myNestedListItems {
  border-top: none !important;
}
.myNestedListItems span {
  font-size: 12px;
  margin-top: 4px;
}
